* {
  box-sizing: border-box;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

.col-1 {
  width: 25%;
}
.col-2 {
  width: 50%;
}
.col-3 {
  width: 75%;
}
.col-4 {
  width: 100%;
}

body {
  background-color: whitesmoke;
}

/* Actual elements */

a {
  color: green;
}

button {
  border: none;
  height: 20px;
  width: 70px;
  margin: 0px 50px 0px 0px;
  float: right;
  background-color: green;
  color: whitesmoke;
}
